* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}
header {
  background-color: black;
}
header img {
  margin-top: 50px;
}
header h1 {
  position: absolute;
  background-color: aquamarine;
  padding-left: 30px;
}
nav ul {
  position: absolute;
  top: 10px;
  right: 5px;
  right: 30px;
}
nav ul li a {
  display: inline;
  color: aquamarine;
}
p {
  margin: 0;
}
.hero-banner h2 {
  position: absolute;
  top: 180px;
  right: 40px;
  background-color: aquamarine;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-around;
  align-items: center;
}
article p {
  /* border: 1px solid green;
  margin-right: 52px; */
}
#about {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 210px;
}
#worke {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.page-section {
}

/* .page-section */
#work-section {
  margin: 0px 5%;
  display: grid;
  min-height: 500px;
  min-width: 500px;
  height: 70vh;
  border: 2px solid black;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-areas: 
      "prework prework"
      "prework prework"
      "loginPage regForm"
      "successPage contactPage"
      ;
}
#prework {
  margin: 5px;
  grid-area: prework;
  border: 1px solid red;
  background-image: url("../images/02-run-buddy.jpg");
}
#loginPage {
  /* margin: 5px;
  grid-area: landingPage;
  border: 1px solid red; */
  background-image: url("../images/02-portfolio-1.jpg");
}
#regForm {
  /* margin: 5px;
  grid-area: todoApp;
  border: 1px solid red; */
  background-image: url("../images/02-portfolio-2.jpg");
}
#successPage {
  /* margin: 5px;
  grid-area: portfolio;
  border: 1px solid red; */
  background-image: url("../images/02-portfolio-3.jpg");
}
#work-section div h2 {
  background-color: rgb(53, 172, 172);
  display: inline-block;
  /* float: left; */
}
#prework h2 {
  margin-top: 190px;
}
#loginPage h2 {
  margin-top: 40px;
}
#regForm h2 {
  margin-top: 60px;
}
#successPage h2 {
  margin-top: 60px;
}
#contactPage h2 {
  margin-top: 40px;
}
#contact {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* gap: 30px; */
  margin-left: -150px;
}
#contact ul li {
  display: inline;
}
#contact h1 {
  margin-right: 0px;
}
#worke img {
  position: absolute;
  margin-left: 48px;
  border-left: 20px;
}
#worke #prework {
  margin: 0px;
}